@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

body {
  background: radial-gradient(at right 30%, #fceabb, #f8b500);
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.markdown p {
  font-size: 18px;
  margin-top: 16px;
}

.markdown img {
  width: 20rem;
  float: left;
  margin: 0 50px 10px 0;
  z-index: 2;
}

.postPreview .markdown p {
  font-size: 16px;
  margin: 16px 1.25rem 0;
}

@media (max-width: 640px) {
  .markdown img {
    width: 100%;
  }
  .markdown p {
    font-size: 16px;
    margin-left: 0.35rem;
  }

  .postPreview .markdown p {
    font-size: 16px;
    margin: 16px 0.35rem 0;
  }
}

.markdown code {
  background-color: white;
  float: left;
  clear: left;
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  color: #464646;
  z-index: 1;
  white-space: pre-wrap;
}

.markdown a {
  text-decoration: underline;
}

.markdown a:hover {
  text-decoration: none;
}

.postBg {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.6)
  );
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px darkblue;
  background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

#__next {
  margin: 0;
  background: inherit;
}

#root {
  background: inherit;
}

.header {
  z-index: 5;
  background: inherit;
  position: sticky;
  top:0px
}

.previews {
  z-index: -1;
  background: inherit;
}
